@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.form-control {
  height: 48px;
}

a {
  color: #212529;
  text-decoration: none;
}

.nav-link {
  color: #d5d5d5;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .dropdown-menu {
    right: 20%;
    top: 120%;
  }
}
